<template>
    <form @submit.prevent="submit">
        <div>
            <h3>Newsletter</h3>
            <p>Receive updates on sales and offers directly to your in-box.</p>
            <div class="form-control">
                <input type="email" :class="{ dirty: email }" name="email" v-model="email" required autocomplete="off" v-validate />
                <label for="email">Email</label>
                <span class="error" v-if="errors.has('email')">{{ errors.first('email') }}</span>
            </div>
            <label class="privacy-checkbox">
                <input type="checkbox" name="privacy" v-validate="'required'" />
                I have read the Privacy Policy, and I agree to the processing of my personal data in order to receive commercial communications and promotions by newsletter from LUISAVIAROMA.COM
                <span class="error" v-if="errors.has('privacy')">{{ errors.first('privacy') }}</span>
            </label>
        </div>
        <button type="submit" class="button">Subscribe</button>
    </form>
</template>
<script>
export default {
    data () {
        return {
            email: ''
        }
    },
    methods: {
        submit () {
            this.$validator.validateAll()
        }
    }
}
</script>
<style lang="scss" scoped>
@import "../../scss/variables.scss";

.privacy-checkbox {
    display: block;
    position: relative;
    margin-bottom: 20px;
    padding-left: 30px;
    input {
        position: absolute;
        top: 0;
        left: 0;
        width: 18px;
        height: 18px;
        -webkit-appearance: none;
        border: 1px solid $black;
        outline: none;
        &:checked:after {
            content: "\2713";
            font-size: 16px;
            position: absolute;
            top: 0;
            left: 0;
            width: 16px;
            text-align: center;
        }
    }
}
</style>
