<template>
    <div>
        <div class="form-control">
            <input type="text" :class="{ 'dirty': filter }" name="filter" v-model="filter">
            <label for="filter">Testo da ricercare</label>
        </div>
        <div class="group" v-for="(products, albumId) in filteredProducts" :key="albumId">
            <h3 class="title">{{ albumId }}</h3>
            <div class="grid">
                <div
                    class="item"
                    v-for="product in products"
                    :key="product.id"
                    :style="{ backgroundImage: `url(${product.url})` }"
                >
                    <span>{{ product.title }}</span>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import axios from 'axios'
import _ from 'lodash'

export default {
    props: {
        apiUrl: {
            type: String,
            required: true
        }
    },
    data () {
        return {
            filter: '',
            products: []
        }
    },
    computed: {
        filteredProducts () {
            return _.groupBy(
                this.products.filter(p =>
                    p.title.toLowerCase().indexOf(this.filter.toLowerCase()) >= 0
                ),
                'albumId'
            )
        }
    },
    mounted () {
        axios.get(this.apiUrl).then(resp => {
            this.products = resp.data
        }).catch(err => {
            this.error = err
        });
    }
}
</script>
<style lang="scss" scoped>
@import "../../scss/variables.scss";

.title {
    text-align: center;
    margin: 30px auto 20px;
    font-size: 18px;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    .item {
        width: 30%;
        display: flex;
        box-sizing: border-box;
        z-index: 10;
        position: relative;
        margin: 20px;
        padding: 30px;
        justify-content: center;
        align-items: center;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 100%;
        text-align: center;
        color: $black;
        text-decoration: none;
        font-size: 26px;
        line-height: 1.4em;
        font-weight: 600;
        span {
            line-height: 1.1em;
        }
        &::after {
            display: block;
            content: " ";
            padding-top: 100%;
            top: 0;
            left: 0;
        }
    }
}

@media screen and (max-width: 1280px) {
    .grid {
        .item {
            width: 45%;
        }
    }
}

@media screen and (max-width: 840px) {
    .grid {
        justify-content: center;
        .item {
            width: 90%;
        }
    }
}
</style>
