<template>
    <div>
        <h3>Web Push Notifications</h3>
        <p>Be the first to know about special deals.
            <ul>
                <li>Real time instant notification</li>
                <li>No need to fill or download anything</li>
                <li>Turn off notifications anytime from your browser settings</li>
            </ul>
        </p>
        <button type="button" class="button" @click="subscribe">Keep me updated</button>
    </div>
</template>
<script>
export default {
    methods: {
        subscribe() {
            console.log('Subscribe push notification process')
        }
    }
}
</script>
<style lang="scss" scoped></style>
