<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Landing Test</title>
</head>
<body>
    <div id="app" class="wrapper">
        <header class="hero black-friday">
            <div class="container">
                <div class="row">
                    <div class="vertical-centered">
                        <h1>Black Friday</h1>
                        <p>Don't miss out on Black Friday deals, just in time for Christmas shopping! Up to 70% on all your favourite men's, women's, and kids brands like Alberta Ferretti, Casadei, Marni, Dsquared2, Versace, and Maison Margiela. Join in on this fun American tradition and keep an eye out for the best offers on clothing, bags, accessories, and shoes the day after Thanksgiving. Subscribe to out newsletter and to our push notifications to receive updates on sales and special deals.</p>
                    </div>
                    <div class="tabs-wrapper">
                        <ul class="tabs">
                            <li :class="{ active: tabIndex === 0 }">
                                <a class="tab-newsletter" @click="tabIndex = 0"></a>
                            </li>
                            <li :class="{ active: tabIndex === 1 }">
                                <a :class="{ 'tab-push': supportsPush, 'tab-app': !supportsPush }" @click="tabIndex = 1"></a>
                            </li>
                        </ul>
                        <div class="card" :class="{ active: tabIndex === 0 }">
                            <newsletter-form />
                        </div>
                        <div class="card card-push" :class="{ active: tabIndex === 1 }" v-if="supportsPush">
                            <div>
                                <h3>Web Push Notifications</h3>
                                <p>Be the first to know about special deals.
                                    <ul>
                                        <li>Real time instant notification</li>
                                        <li>No need to fill or download anything</li>
                                        <li>Turn off notifications anytime from your browser settings</li>
                                    </ul>
                                </p>
                            </div>
                            <button class="button">Keep me updated</button>
                        </div>
                        <div class="card card-push" :class="{ active: tabIndex === 1 }" v-else>
                            <div>
                                <h3>Download iOS App</h3>
                                <p>Score the best Black Friday deals by downloading our app and receiving instant updates on sales, exclusive
                                    promotions and limited time offers.</p>
                            </div>
                            <img class="align-center qrcode" src="<%=require('./images/qr-code-lvr-ios-app-1024x1024.png') %>" />
                            <a href="#">
                                <img class="align-center cta-store" src="<%=require('./images/CTA-App-Store.png') %>" />
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <section class="content">
            <div class="container">
                <products-grid
                    api-url="https://jsonplaceholder.typicode.com/photos"
                ></products-grid>
            </div>
        </section>
    </div>
</body>
</html>
