@import "../../node_modules/normalize-scss/sass/normalize/import-now";
@import "./variables";

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 1.6em;
}

header {
    background-color: $black;
    color: $white;
    padding: 100px 0;
    h1 {
        font-size: 4rem;
        margin-bottom: 20px;
    }
    .container {
        position: relative;
        z-index: 10;
    }
    &::after {
        display: block;
        content: "Black Friday";
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-60%);
        margin: 0 auto;
        width: 100%;
        max-width: 1200px;
        height: 100%;
        font-size: 400px;
        font-weight: 800;
        color: $grey_dark;
        text-transform: uppercase;
        line-height: 310px;
    }
}

.content {
    padding: 30px 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    > * {
        margin-right: 24px;
        &:last-child {
            margin-right: 0;
        }
    }
}

.tabs-wrapper {
    width: 660px;
    flex-shrink: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.tabs {
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    display: none;
    justify-content: stretch;
    align-items: stretch;
    background-color: $grey_lighter;
    li {
        box-sizing: border-box;
        border-right: 1px solid $grey_light;
        border-bottom: 1px solid $grey_light;
        width: 50%;
        &:last-child {
            border-right: none;
        }
        &.active {
            background-color: $white;
            border-bottom: 1px solid $white;
            a {
                opacity: 1;
            }
        }
        a {
            display: block;
            width: 100%;
            height: 50px;
            background-position: center center;
            background-repeat: no-repeat;
            opacity: 0.2;
            &.tab-newsletter {
                background-image: url('../images/ico-mail.svg');
            }
            &.tab-push {
                background-image: url('../images/ico-notification.svg');
            }
            &.tab-app {
                background-image: url('../images/ico-download-app.svg');
            }
        }
    }
}

.card {
    background-color: $white;
    color: $black;
    box-sizing: border-box;
    padding: 30px;
    width: 320px;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    h3 {
        text-align: center;
        margin: 0 0 10px;
    }
    &.card-push {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        .button {
            align-self: stretch;
            margin-top: 30px;
        }
    }
}

.text-center {
    text-align: center;
}

.align-center {
    margin-left: auto;
    margin-right: auto;
}

.vertical-centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

.qrcode, .cta-store {
    display: block;
    margin-top: 20px;
}

.qrcode {
    max-width: 100px;
}

.cta-store {
    max-width: 140px;
}

.button {
    -webkit-appearance: none;
    padding: 16px;
    outline: none;
    border: none;
    background-color: $grey_dark;
    color: $white;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.5s ease-in-out;
    &:hover {
        background-color: lighten($grey_dark, 5%);
    }
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
label {
    color: $grey_light;
}
.form-control {
    position: relative;
    padding-top: 10px;
    padding-bottom: 20px;
    label {
        position: absolute;
        top: 15px;
        left: 0;
        line-height: 20px;
        z-index: 0;
        transition: all 0.2s ease-out;
        color: $black;
    }
    input {
        background-color: transparent;
        position: relative;
        z-index: 1;
        &:focus ~ label, &.dirty ~ label {
            top: 0;
            color: $grey_light;
            font-size: 11px;
        }
    }
    .error {
        position: absolute;
        bottom: 4px;
        right: 0;
    }
}
.error {
    display: block;
    font-size: 12px;
    line-height: 12px;
    text-align: right;
    color: #c02828;
}
input[type="text"], input[type="password"], input[type="email"], input[type="tel"] {
    border: none;
    outline: none;
    border-bottom: 2px solid $black;
    width: 100%;
    line-height: 20px;
    margin: 0;
    padding: 5px 0;
}


@media screen and (max-width: 1020px) {
    .tabs-wrapper {
        width: 320px;
    }
    .tabs {
        display: flex;
    }
    .card, .card.card-push {
        display: none;
        &.active {
            display: flex;
            width: 100%;
            min-height: 360px;
        }
    }
}

@media screen and (max-width: 680px) {
    header {
        padding-top: 80px;
        padding-bottom: 0;
        .container {
            padding-bottom: 0;
        }
        .row {
            flex-direction: column;
            .vertical-centered {
                margin-bottom: 30px;
            }
        }
    }
    .tabs-wrapper {
        width: 100%;
    }
}
